#main-container {
  display: flex;
}

#main {
  background: #242424;
  margin: 10px;
  float: left;
  text-align: left;
  width: 720px;
  min-height: 480px;
  padding: 0 10px;
  position: relative;
}

.right-link {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Optional hover style */
.right-link a {
  color: #050580;
  text-decoration: none;
}

.right-link a:hover {
  text-decoration: underline;
}
