#3d_engine {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 18px;
  line-height: 30px;
}


body,
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
  padding: 0;
  background: #000;
  text-align: center;
  color: #FFF;
  min-height: 100%;
  margin-bottom: 1px;
}

body {
  min-width: 960px;
}

a {
  color: #050580;
}

#wrap {
  background: #000;
  margin: 0 auto;
  width: 960px;
  position: relative;
}

#header {
  background: #000000;
  float: left;
  text-align: left;
  font-size: 30px;
  margin: 10px;
}

#header a {
  color: #B9B9B9;
  text-decoration: none;
}

#main {
  background: #242424;
  margin: 10px;
  float: left;
  text-align: left;
  width: 720px;
  min-height: 480px;
  padding: 0 10px;
  flex: 1;
}

#main pre {
  font-size: 12px;
}

.code {
  font-family: courier, courier new, monospace;
}

#main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.right-link {
  margin-left: 20px;
  white-space: nowrap;
}

#3d_engine a {
  color: #050580;
  text-decoration: none;
}

#3d_engine a:hover {
  text-decoration: underline;
}
