body,
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 140%;
  margin:0;
  padding:0;
  background:#171717;
  text-align:center;
  color:#000;

  min-height: 100%;
  margin-bottom: 1px;  
}

body {
  min-width:960px;
}

a {
  color: #050580;
}

#wrap {
  background:#171717;
  margin:0 auto;
  width:960px;
}

#header {
  background:#171717;
  float:left;
  text-align:left;
  font-size: 30px;
  margin:10px;
}

#header a {
  color::#707070;
  text-decoration:none;
}

#main {
  background:#707070;
  margin: 10px 10px 10px 10px;
  float:left;
  text-align:left;
  width:720px;
  min-height:480px;
  padding:0 10px;
}

#main pre {
  font-size: 12px;
}

.code { 
  font-family: courier, courier new, monospace;
} 
